table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 1em;
}
td, th {
  border: 1px dashed black;
  padding: .2em .5em .2em .5em;
  text-align: left;
}
.error {
  color: #b00020;
  font-size: 0.9em;
  padding-left: 0.5em;
}
